

$color-white: #fff;
$color-black: #000;
$color-red: #ff0264;
$color-blue: #004EFF;
$color-blue-original-dark: #1A5099;
$color-blue-original-light: #4BA2F2;
$color-blurt-black: #212529;
$color-blurt-black-darkest: #11161A;
$color-blue-dark: #2C3A45;
$color-blurt-red: #E31337;
$color-blurt-red-light:rgb(230, 19, 54);
$color-blurt-red-dark:rgb(216, 18, 51);

$color-yellow: #fce76c;
$color-orange: #F76900;
$color-transparent: transparent;

$color-background-almost-white:#fafaff;
$color-background-off-white: #f8f8ff;
$color-background-off-white-light: #f4f4fd;
$color-background-dark: $color-blurt-black;
$color-background-less-dark: #2c3136;
$color-background-super-dark: #191c1f;

$color-text-dark: #333;
$color-text-white: #fcfcfc;
$color-text-blue: #004EFF;
$color-text-gray: #788187;
$color-text-gray-light: #A6B2BA;
$color-text-blurt-red: #E31337;
$color-text-red: $color-red;

$color-border-light: #eee;
$color-border-less-light: #e5e5e5;
$color-border-light-lightest: #f6f6f6;
$color-border-dark: $color-blurt-black;
$color-border-dark-lightest: #2c3136;

$font-primary: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

$alert-color: $color-red;
